body {
		background-color: #EDE8E7;
}

.txt {
	font-size: 14px;
	line-height: 20px;
}

.header {
	font-size: 26px;
	line-height: 30px;

}

.head {
	font-size: 20px;
	line-height: 22px;
	color: white;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("../img/header_bg.png");
	background-repeat: repeat-x;
	width: 100%;
	padding-right: 100px;
	padding-left: 25px;
}

.bar {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
	font-size: 20px;
}

li a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
color: black;
}

li a:hover {
background-color: slateblue;	
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	grid-template-rows: 6;
}

.grid-item {
	background-image: url("../img/banner_bg.png");  
	text-align: center;
	padding: 10px;
	font-size: 30px;
	margin: 10px;
}

.item1 {
	grid-column: 1 / span 4;
	grid-row: 1;
}

.item2 {
	grid-column: 1 / span 3;
	grid-row: 2;
	width: 100%; 
}

.head-img {
	float: left;
}



.img {
	float: left;
	width: 100px;
	height: 100px;
}